*{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 300;
}

.Container{
    background-image: url('/src/assets/image/fondo.jpg');
    background-size: 15rem;
    overflow: hidden;
    background-repeat: repeat;
    width: 60%;
    height: 35rem;
    margin: 2rem auto;
    padding: 0.3rem;
    border-radius: 2rem;
    -webkit-box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.21);
    box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.21);
}

.Title{
    color: deeppink;
    background-color: black;
    width: 100%;
    margin: 1.8rem;
    text-align: center; 
    font-weight: 900;   
}
